1.Schemas/Resources/schemas/Commons/Responce.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:Response="http://www.tibco.com/schemas/0.ProjectZero/Resources/schemas/Commons/Response"
	 targetNamespace="http://www.tibco.com/schemas/0.ProjectZero/Resources/schemas/Commons/Response"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="message" type="xs:string"/>
				<xs:element ref="Response:responseStatues"/>
				<xs:element name="data" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:any namespace="##any" processContents="lax"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="responseStatues" type="xs:string"/>
</xs:schema>