1.Schemas/Resources/schemas/Models/Products.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:Products="http://www.tibco.com/schemas/0.ProjectZero/Resources/schemas/Models/Products"
	 targetNamespace="http://www.tibco.com/schemas/0.ProjectZero/Resources/schemas/Models/Products"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Products">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="productid" type="xs:string"/>
				<xs:element name="discription" type="xs:string"/>
				<xs:element name="displayname" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>